.footer {
  padding: 4em;
}

a:hover {
  color: green;
}

#custom-row {
  // font-size: small;
  color: #fcfcfc;
  font-size: 15px;
  background-color: #581845;
  padding: 30px 0px 0px 30px;
}

@media (max-width: 770px) {
  .font-weight-bold {
    font-size: 15px;
  }
  #custom-row {
    font-size: 10px;
  }
}
