.navbar-dark .navbar-nav li.active > a {
  border-radius: 40px;
  background-color: #18582b;
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fcfcfc;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
}
.dropdown-menu {
  width: 200px !important;
}

.dropdown-item {
  font-weight: 500;
  font-size: 20px;
}
.dropdown-item.active {
  background-color: #18582b;
}
.dropdown-item:active {
  background-color: #18582b;
}

.navbar-dark .navbar-toggler {
  outline: none;
  border: none;
}

@media (min-width: 575px) and (max-width: 620px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
  }
}

// .navbar-dark .navbar-nav .nav-link:focus,
// .navbar-dark .navbar-nav .nav-link:hover {
//   color: #808080;
// }
