.navbar-dark .navbar-nav li.active > a {
  background-color: #18582b;
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fcfcfc;
  padding: 15px;
}
.dropdown-item.active {
  background-color: #18582b;
}
.dropdown-item:active {
  background-color: #18582b;
}
