.signin-text {
  display: inline;
  margin-left: 1em;
}

@media (min-width: 575px) and (max-width: 780px) {
  .signin-text {
    display: none !important;
  }
}

.navbar-dark .navbar-nav .nav-link:focus {
  border: 0px;
  outline: none;
}
