.signin-text {
  display: inline;
  margin-left: 1em;
}

@media (min-width: 575px) and (max-width: 780px) {
  .signin-text {
    display: none !important;
  }
}

.navbar-dark .navbar-nav .nav-link:focus {
  border: 0px;
  outline: none;
}

.dashboard-separator {
  width: 80%;
  height: 20px;
  border-bottom: 1px solid #d6d6d6;
  margin-left: 10%;
  color: #d6d6d6;
  margin-bottom: 32px;
}
