.modal-content {
  border-radius: 20px;
}
.modal-body {
  /* text-align: center; */
  font-weight: 600;
  font-size: 20px;
}
.user-page-heading {
  font-family: "Major Mono Display", monospace;
  display: inline-block;
}
.user-page-heading img {
  display: inline-block;
}
.user-page-heading p {
  padding: 0px 0px 0px 15px;
  display: inline-block;
}
.sign-in-btn,
#modal-close-btn {
  font-size: 20px;
  background-color: rgb(88, 24, 69);
  border-color: transparent;
}
.sign-in-btn {
  margin-top: 1em;
  width: 100px;
  height: 45px;
}

.spinner-border {
  height: 1.5rem;
  width: 1.5rem;
}
.sign-in-btn:focus,
.sign-in-btn:active,
#modal-close-btn:focus,
#modal-close-btn:active,
.show-password-btn:focus,
.show-password-btn:active,
.close {
  outline: none !important;
  box-shadow: none !important;
  border: 0px !important;
}

.sign-in-btn:hover {
  background-color: rgb(48, 13, 38) !important;
  outline: none !important;
  box-shadow: none !important;
  border: 0px !important;
}
.sign-in-btn:active,
.sign-in-btn:focus {
  background-color: rgb(88, 24, 69) !important;
}

#modal-close-btn:hover {
  background-color: rgb(48, 13, 38);
}
.separator {
  width: 50%;
  height: 20px;
  border-bottom: 1px solid #495057;
  text-align: center;
  margin-left: 25%;
  color: #495057;
  margin-top: 3%;
  margin-bottom: 4%;
}
.separator-text {
  background-color: white;
  padding: 0 10px;
}

.my-facebook-button-class {
  font-weight: 500;
  color: #fcfcfc;
  width: 242px;
  height: 57px;
  background-color: #3b5999;
}

.google-facbook {
  margin-top: 5%;
}

.my-facebook-button-class:active,
.my-facebook-button-class:focus {
  outline: none !important;
  box-shadow: none;
}
.fa {
  margin-right: 1em;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-left: 2em;
}

.show-password {
  font-size: 13px;
}

a {
  text-decoration: none !important;
}

.fb-btn {
  background-color: #3b5998;
  margin: 1%;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  padding: 1rem;
  width: 70%;
}

.google-btn {
  background-color: #de5246;
  margin: 1%;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  padding: 1rem;
  width: 70%;
}

.google-btn:focus,
.fb-btn:focus {
  outline: none !important;
  box-shadow: none;
}
.google-btn:hover {
  background-color: #cd3224;
}
.fb-btn:hover {
  background-color: #2d4373;
}
