.cards-deck {
  margin: 2em;
}

.cards-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-flow: wrap;
}
#featured-product-card {
  width: 12rem;
  margin: 1em;
  padding: 1%;
}

@media (min-width: 1424px) {
  #featured-product-card {
    width: 17% !important;
    padding: 1% !important;
  }
}

@media (min-width: 1424px) {
  #featured-product-card {
    width: 15rem;
  }
}

@media (min-width: 1344px) and (max-width: 1423px) {
  #featured-product-card {
    width: 14rem;
  }
}
@media (min-width: 1264px) and (max-width: 1343px) {
  #featured-product-card {
    width: 13rem;
  }
}
@media (min-width: 1104px) and (max-width: 1183px) {
  #featured-product-card {
    width: 11rem;
  }
}
@media (min-width: 1024px) and (max-width: 1103px) {
  #featured-product-card {
    width: 11rem;
  }
}
@media (min-width: 944px) and (max-width: 1023px) {
  #featured-product-card {
    width: 9rem;
  }
  .card-title {
    font-size: medium;
  }
  .card-text {
    font-size: small;
  }
}
@media (min-width: 864px) and (max-width: 943px) {
  #featured-product-card {
    width: 9rem;
  }
  .card-title {
    font-size: medium;
  }
  .card-text {
    font-size: small;
  }
}
@media (min-width: 784px) and (max-width: 863px) {
  #featured-product-card {
    width: 8rem;
  }
  .card-title {
    font-size: small;
  }
  .card-text {
    font-size: small;
  }
}
