.carousel {
  width: 100%;
  animation: fade-in 2s;
  animation-fill-mode: forwards;
  margin: auto;
}

.carousel-caption {
  opacity: 0.8;
  background-color: #cccccc;
}
.carousel-caption h1 {
  font-weight: 800;
  color: #003366;
}
.carousel-caption p {
  font-weight: 800;
  color: #003366;
}

.carousel .carousel-inner img {
  display: block;
  object-fit: cover;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 780px) {
  .carousel-caption {
    height: 40%;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
}

@media (min-width: 368px) and (max-width: 420px) {
  .carousel-caption {
    height: 55%;
  }
  .carousel-caption h1 {
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 8px;
  }
}
@media (min-width: 421px) and (max-width: 499px) {
  .carousel-caption {
    height: 55%;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
}
@media (min-width: 500px) and (max-width: 594px) {
  .carousel-caption {
    height: 45%;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
}
@media (min-width: 595px) and (max-width: 750px) {
  .carousel-caption {
    height: 37%;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
}
@media (max-width: 367px) {
  .carousel-caption {
    height: 85%;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption p {
    font-size: 10px;
  }
}
